In [46]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\naikp\appdata\local\programs\python\python37\lib\site-packages (4.2.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\naikp\appdata\local\programs\python\python37\lib\site-packages (from gensim) (6.2.0)
Requirement already satisfied: scipy>=0.18.1 in c:\users\naikp\appdata\local\programs\python\python37\lib\site-packages (from gensim) (1.7.3)
Requirement already satisfied: Cython==0.29.28 in c:\users\naikp\appdata\local\programs\python\python37\lib\site-packages (from gensim) (0.29.28)
Requirement already satisfied: numpy>=1.17.0 in c:\users\naikp\appdata\local\programs\python\python37\lib\site-packages (from gensim) (1.21.6)

You are using pip version 10.0.1, however version 22.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [103]:
import pandas as pd
import gensim

In [104]:
df = pd.read_csv('C:/Users/naikp/Downloads/w2vdata1.csv',sep = ',', header=None)

In [105]:
df

                               0         1         2
0                        entity1  relation   entity2
1         <Jesús Rivera Sánchez>    <is_a>  <PERSON>
2                       <Pueblo>    <is_a>     <GPE>
3                    <Naranjito>    <is_a>     <GPE>
4                 <Elizabeth II>    <is_a>  <PERSON>
...                          ...       ...       ...
85851                  <Seattle>    <is_a>     <GPE>
85852           <Bill Hambrecht>    <is_a>  <PERSON>
85853                     <2010>    <is_a>    <DATE>
85854    <Las Vegas Locomotives>    <is_a>     <ORG>
85855  <Copenhagen Municipality>    <is_a>     <ORG>

[85856 rows x 3 columns]

In [106]:
mapping = {df.columns[0]: 'entity1', df.columns[1]: 'relation', df.columns[2]: 'entity2'}
df1 = df.rename(columns=mapping)

In [107]:
df1

                         entity1  relation   entity2
0                        entity1  relation   entity2
1         <Jesús Rivera Sánchez>    <is_a>  <PERSON>
2                       <Pueblo>    <is_a>     <GPE>
3                    <Naranjito>    <is_a>     <GPE>
4                 <Elizabeth II>    <is_a>  <PERSON>
...                          ...       ...       ...
85851                  <Seattle>    <is_a>     <GPE>
85852           <Bill Hambrecht>    <is_a>  <PERSON>
85853                     <2010>    <is_a>    <DATE>
85854    <Las Vegas Locomotives>    <is_a>     <ORG>
85855  <Copenhagen Municipality>    <is_a>     <ORG>

[85856 rows x 3 columns]

In [108]:
# df2 = df1.iloc[:300000]
df2 = df1

In [109]:
df2

                         entity1  relation   entity2
0                        entity1  relation   entity2
1         <Jesús Rivera Sánchez>    <is_a>  <PERSON>
2                       <Pueblo>    <is_a>     <GPE>
3                    <Naranjito>    <is_a>     <GPE>
4                 <Elizabeth II>    <is_a>  <PERSON>
...                          ...       ...       ...
85851                  <Seattle>    <is_a>     <GPE>
85852           <Bill Hambrecht>    <is_a>  <PERSON>
85853                     <2010>    <is_a>    <DATE>
85854    <Las Vegas Locomotives>    <is_a>     <ORG>
85855  <Copenhagen Municipality>    <is_a>     <ORG>

[85856 rows x 3 columns]

In [71]:
# df2.to_csv('small_input.txt', sep=' ', header=False, index=False)

In [110]:
df3 = pd.read_csv('C:/Users/naikp/Downloads/small_input2.txt',sep = ' ', header=None) 
# df3 = df2

In [121]:
df3 = pd.read_csv('C:/Users/naikp/Downloads/small_input2.txt',sep = ' ', header=None) 
mapping = {df3.columns[0]: 'entity1', df3.columns[1]: 'relation', df3.columns[2]: 'entity2'}


df3 = df3.rename(columns=mapping)

In [122]:
df3

,entity1,relation,entity2
0,<Jesús_Rivera_Sánchez>,<isLeaderOf>,<Pueblo_of_Naranjito>
1,<Elizabeth_II>,<isLeaderOf>,<Royal_Numismatic_Society>
2,<Richard_Stallman>,<isLeaderOf>,<Free_Software_Foundation>
3,<Keith_Peterson>,<isLeaderOf>,<Cambridge_Bay>
4,<William_H._Seward_Jr.>,<isLeaderOf>,<9th_New_York_Heavy_Artillery_Regiment>
...,...,...,...
299995,<John_H._Rountree>,<isCitizenOf>,<United_States>
299996,<Edwin_Jones_(footballer)>,<isCitizenOf>,<England>
299997,<Ludvig_Lindgren>,<isCitizenOf>,<Sweden>
299998,<Nela_Zisser>,<isCitizenOf>,<New_Zealand>
299999,<Shean_Garlito>,<isCitizenOf>,<Belgium>

In [129]:
df_join = pd.merge(df3, df2, how='inner', left_on = 'entity2', right_on = 'entity1')

In [130]:
df_join

,entity1_x,relation_x,entity2_x,entity1_y,relation_y,entity2_y
0,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<Thessaloniki>,<is_a>,<GPE>
1,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<Thessaloniki>,<is_a>,<GPE>
2,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<Thessaloniki>,<is_a>,<GPE>
3,<Oscar_Braynon>,<isLeaderOf>,<Allapattah>,<Allapattah>,<is_a>,<NORP>
4,<Oscar_Braynon>,<isLeaderOf>,<Allapattah>,<Allapattah>,<is_a>,<NORP>
...,...,...,...,...,...,...
6087546,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<Quebec>,<is_a>,<ORG>
6087547,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<Quebec>,<is_a>,<GPE>
6087548,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<Quebec>,<is_a>,<GPE>
6087549,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<Quebec>,<is_a>,<GPE>
6087550,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<Quebec>,<is_a>,<GPE>

In [131]:
df_join.drop('entity1_y', inplace=True, axis=1)

In [133]:
mapping = {df_join.columns[0]: 'entity1', df_join.columns[1]: 'relation1', df_join.columns[2]: 'entity2', df_join.columns[3]: 'relation2', df_join.columns[4]: 'entity3'}
df_join1 = df_join.rename(columns=mapping)

In [134]:
df_join1

,entity1,relation1,entity2,relation2,entity3
0,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<is_a>,<GPE>
1,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<is_a>,<GPE>
2,<Yiannis_Boutaris>,<isLeaderOf>,<Thessaloniki>,<is_a>,<GPE>
3,<Oscar_Braynon>,<isLeaderOf>,<Allapattah>,<is_a>,<NORP>
4,<Oscar_Braynon>,<isLeaderOf>,<Allapattah>,<is_a>,<NORP>
...,...,...,...,...,...
6087546,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<is_a>,<ORG>
6087547,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<is_a>,<GPE>
6087548,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<is_a>,<GPE>
6087549,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<is_a>,<GPE>
6087550,<Olivier_Charbonneau>,<isCitizenOf>,<Quebec>,<is_a>,<GPE>

In [135]:
s = df_join1["entity1"][0]
l = len(s)
s1 = s[1:(len(s)-1)]
print(s1)

Yiannis_Boutaris

In [136]:
columns = list(df_join1)
print(columns)

['entity1', 'relation1', 'entity2', 'relation2', 'entity3']

In [137]:
from tqdm import tqdm

In [138]:
data = []

for i in tqdm(range(df_join1.shape[0])):
    lst = []
    for j in range(df_join1.shape[1]):
        s = df_join1[columns[j]][i]
        lst.append(s[1:(len(s)-1)])
    lst1 = []
    lst1.append(lst)
    data.append(lst1)

100%|██████████████████████████████████████████████████████████████████████| 6087551/6087551 [14:28<00:00, 7008.52it/s]

In [139]:
print(data[0:5])

[[['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']], [['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']], [['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']], [['Oscar_Braynon', 'isLeaderOf', 'Allapattah', 'is_a', 'NORP']], [['Oscar_Braynon', 'isLeaderOf', 'Allapattah', 'is_a', 'NORP']]]

In [140]:
input_df = pd.DataFrame(data, columns=['tokens'])

In [141]:
input_df["tokens"][0]

['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']

In [142]:
input_df

                                                    tokens
0        [Yiannis_Boutaris, isLeaderOf, Thessaloniki, i...
1        [Yiannis_Boutaris, isLeaderOf, Thessaloniki, i...
2        [Yiannis_Boutaris, isLeaderOf, Thessaloniki, i...
3        [Oscar_Braynon, isLeaderOf, Allapattah, is_a, ...
4        [Oscar_Braynon, isLeaderOf, Allapattah, is_a, ...
...                                                    ...
6087546  [Olivier_Charbonneau, isCitizenOf, Quebec, is_...
6087547  [Olivier_Charbonneau, isCitizenOf, Quebec, is_...
6087548  [Olivier_Charbonneau, isCitizenOf, Quebec, is_...
6087549  [Olivier_Charbonneau, isCitizenOf, Quebec, is_...
6087550  [Olivier_Charbonneau, isCitizenOf, Quebec, is_...

[6087551 rows x 1 columns]

In [143]:
input_df.to_csv('C:/Users/naikp/Downloads/inputs.csv', header=True, index=False)

In [144]:
input1_df = pd.read_csv('C:/Users/naikp/Downloads/inputs.csv')

In [145]:
input1_df.head()

                                              tokens
0  ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
1  ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
2  ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
3  ['Oscar_Braynon', 'isLeaderOf', 'Allapattah', ...
4  ['Oscar_Braynon', 'isLeaderOf', 'Allapattah', ...

In [146]:
input1_df["tokens"]

0          ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
1          ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
2          ['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloni...
3          ['Oscar_Braynon', 'isLeaderOf', 'Allapattah', ...
4          ['Oscar_Braynon', 'isLeaderOf', 'Allapattah', ...
                                 ...
6087546    ['Olivier_Charbonneau', 'isCitizenOf', 'Quebec...
6087547    ['Olivier_Charbonneau', 'isCitizenOf', 'Quebec...
6087548    ['Olivier_Charbonneau', 'isCitizenOf', 'Quebec...
6087549    ['Olivier_Charbonneau', 'isCitizenOf', 'Quebec...
6087550    ['Olivier_Charbonneau', 'isCitizenOf', 'Quebec...
Name: tokens, Length: 6087551, dtype: object

In [147]:
print(input1_df["tokens"][0])
type(input1_df["tokens"][0])

['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']

str

In [37]:
# string1 = input1_df["tokens"][0]
# res1 = string1.strip('][').split(', ')
# for i in range(len(res1)):
#     print(res1[i])
#     print(res1[i][1:-1])
#     print(res1[i])
# print(res1)

In [148]:
def lslicing(lst):
    l = []
    for i in lst:
        l.append(i[1:-1])
    return l

In [149]:
input_list = []
for i in tqdm(range(len(input1_df["tokens"]))):
    string = input1_df["tokens"][i]
    res = string.strip('][').split(', ')
    res1 = lslicing(res)
    input_list.append(res1)

100%|█████████████████████████████████████████████████████████████████████| 6087551/6087551 [02:51<00:00, 35485.93it/s]

In [150]:
input_list[0]

['Yiannis_Boutaris', 'isLeaderOf', 'Thessaloniki', 'is_a', 'GPE']

## Word2Vec Model

In [151]:
model = gensim.models.Word2Vec(min_count=1,
                               vector_size= 50,
                               workers=4,
                               window =3,
                               sg = 1)

In [152]:
model.build_vocab(input_list, progress_per=10000)

In [153]:
len(model.wv.key_to_index)

174332

In [154]:
model.wv.key_to_index

{'is_a': 0,
 'GPE': 1,
 'isCitizenOf': 2,
 'France': 3,
 'Germany': 4,
 'India': 5,
 'Italy': 6,
 'Canada': 7,
 'Russia': 8,
 'Poland': 9,
 'Australia': 10,
 'Spain': 11,
 'Netherlands': 12,
 'Japan': 13,
 'Sweden': 14,
 'Austria': 15,
 'Norway': 16,
 'China': 17,
 'Belgium': 18,
 'Switzerland': 19,
 'Pakistan': 20,
 'Hungary': 21,
 'Romania': 22,
 'Mexico': 23,
 'Argentina': 24,
 'England': 25,
 'Ukraine': 26,
 'Scotland': 27,
 'Turkey': 28,
 'isLeaderOf': 29,
 'Greece': 30,
 'Portugal': 31,
 'Brazil': 32,
 'Malaysia': 33,
 'Denmark': 34,
 'Wales': 35,
 'Israel': 36,
 'Philippines': 37,
 'Iran': 38,
 'Singapore': 39,
 'Croatia': 40,
 'Lithuania': 41,
 'Nigeria': 42,
 'Vietnam': 43,
 'owns': 44,
 'Venezuela': 45,
 'Finland': 46,
 'Egypt': 47,
 'Edmonton': 48,
 'ORG': 49,
 'Bulgaria': 50,
 'Syria': 51,
 'Cuba': 52,
 'Indonesia': 53,
 'Bangladesh': 54,
 'Chile': 55,
 'Morocco': 56,
 'Taiwan': 57,
 'Thailand': 58,
 'Serbia': 59,
 'Albania': 60,
 'Lebanon': 61,
 'Estonia': 62,
 'Jersey': 63,
 'Peru': 64,
 'Uruguay': 65,
 'Iraq': 66,
 'Colombia': 67,
 'Moldova': 68,
 'Azerbaijan': 69,
 'Slovenia': 70,
 'Kenya': 71,
 'Ghana': 72,
 'Ecuador': 73,
 'PERSON': 74,
 'Afghanistan': 75,
 'Luxembourg': 76,
 'Malta': 77,
 'Armenia': 78,
 'Nepal': 79,
 'Uganda': 80,
 'Belarus': 81,
 'Latvia': 82,
 'Montenegro': 83,
 'Calgary': 84,
 'Slovakia': 85,
 'Cyprus': 86,
 'Honduras': 87,
 'Algeria': 88,
 'Jamaica': 89,
 'Ottawa': 90,
 'Uzbekistan': 91,
 'Guatemala': 92,
 'Vancouver': 93,
 'Tanzania': 94,
 'Niger': 95,
 'Montreal': 96,
 'Nicaragua': 97,
 'Baltimore': 98,
 'Yemen': 99,
 'Sudan': 100,
 'Jordan': 101,
 'Iceland': 102,
 'Kazakhstan': 103,
 'Qatar': 104,
 'Bolivia': 105,
 'Saskatoon': 106,
 'Barbados': 107,
 'Paraguay': 108,
 'NORP': 109,
 'Panama': 110,
 'Veracruz': 111,
 'Zimbabwe': 112,
 'Kosovo': 113,
 'Myanmar': 114,
 'Toronto': 115,
 'London': 116,
 'Dominica': 117,
 'Fiji': 118,
 'Oaxaca': 119,
 'Libya': 120,
 'Samoa': 121,
 'California': 122,
 'Craig_Wireless': 123,
 'Cameroon': 124,
 'Tunisia': 125,
 'Boiron': 126,
 'Gibraltar': 127,
 'Jagdish_Singh_Khehar': 128,
 'Mongolia': 129,
 'Kuwait': 130,
 'Edinburgh': 131,
 'Liberia': 132,
 'Eco-Bat_Technologies': 133,
 'Sony': 134,
 'Namibia': 135,
 'Netflix': 136,
 'David_Eggen': 137,
 'Annie_McKitrick': 138,
 'Trevor_Horne_(Canadian_politician)': 139,
 'Randy_Boissonnault': 140,
 'Estefania_Cortes-Vargas': 141,
 'Ethiopia': 142,
 'Guyana': 143,
 'LOC': 144,
 'Oman': 145,
 'Chouannerie': 146,
 'Elizabeth_II': 147,
 'Senegal': 148,
 'Jessica_Littlewood': 149,
 'Laos': 150,
 'Mali': 151,
 'Rod_Loyola': 152,
 'David_Shepherd_(Canadian_politician)': 153,
 'Michael_Cooper_(politician)': 154,
 'Mike_Lake_(politician)': 155,
 'Denise_Woollard': 156,
 'Jon_Carson': 157,
 'Chris_Nielsen_(politician)': 158,
 'Bob_Turner_(Canadian_politician)': 159,
 'Linda_Duncan': 160,
 'Rachel_Notley': 161,
 'Matt_Jeneroux': 162,
 'Don_Iveson': 163,
 'Thomas_Dang': 164,
 'Marlin_Schmidt': 165,
 'Erin_Babcock': 166,
 'Marie_Renaud': 167,
 'Christina_Gray': 168,
 'Shaye_Anderson': 169,
 'Richard_Feehan': 170,
 'Sarah_Hoffman': 171,
 'Ziad_Aboultaif': 172,
 'Brian_Mason': 173,
 'Kelly_McCauley': 174,
 'Heather_Sweet_(politician)': 175,
 'Deron_Bilous': 176,
 'Lori_Sigurdson': 177,
 'Kerry_Diotte': 178,
 'Colin_Piquette': 179,
 'Amarjeet_Sohi': 180,
 'Nicole_Goehring': 181,
 'Lorne_Dach': 182,
 'Somalia': 183,
 'Cambodia': 184,
 'Bermuda': 185,
 'Glasgow': 186,
 'Suriname': 187,
 'Guernsey': 188,
 'fr/Onet_(entreprise)': 189,
 'Haiti': 190,
 'Maria_Mies': 191,
 'Chuck_Klein': 192,
 'Bhupendra_Kumar_Datta': 193,
 'Christian_Friedrich_Schwarz': 194,
 'Paul_Andrew_Hutton': 195,
 'Pandit_Kanshi_Ram': 196,
 'Yasmin_Verheijen': 197,
 'Charles_Tegart': 198,
 'Josef_Winkler_(politician)': 199,
 'George_V': 200,
 'Seyed_E._Hasnain': 201,
 'David_Ziegler': 202,
 'Mink_Brar': 203,
 'Turkmenistan': 204,
 'Pittsburgh': 205,
 'Tonga': 206,
 'Balaji_Sadasivan': 207,
 'Karpal_Singh': 208,
 'N._Ganesan': 209,
 'Shamini_Flint': 210,
 'Madhu_Mohana': 211,
 'Natashja_Rathore': 212,
 'Herbert_Cecil_Duncan': 213,
 'Gurmit_Singh': 214,
 'Michelle_Saram': 215,
 'Lloyd_Fernando': 216,
 'Rathi_Menon': 217,
 'Rytasha_Rathore': 218,
 'Ravinder_Singh_(general)': 219,
 'Khatijun_Nissa_Siraj': 220,
 'T._Sasitharan': 221,
 'B._S._Daya_Sagar': 222,
 'fr/Steve-s_Music': 223,
 'C._N._R._Rao': 224,
 'Malawi': 225,
 'fr/Guglielmo_Caffè': 226,
 'Dipika_Damerla': 227,
 'Kitsilano': 228,
 'Angola': 229,
 'Joey_Jagan': 230,
 'Quintiq': 231,
 'Bal_Gosal': 232,
 'Manjul_Bhargava': 233,
 'Tony_Bhullar': 234,
 'Ravi_Sood': 235,
 'Devika_Mathur': 236,
 'Brock_Kjeldgaard': 237,
 'Soraya_Peerbaye': 238,
 'Shree_Ghatage': 239,
 'Wally_Oppal': 240,
 'Salim_Mansur': 241,
 'Nisha_Pahuja': 242,
 'John_Butler_(pioneer)': 243,
 'John_Graham_(Canadian_activist)': 244,
 'Ian_D-Sa': 245,
 'Harry_Sohal': 246,
 'Kenny_Lally': 247,
 'Harold_Sonny_Ladoo': 248,
 'Muriel_Spurgeon_Carder': 249,
 'Blake,_Cassels_&_Graydon': 250,
 'Prosegur': 251,
 'Monaco': 252,
 'Subhas_Chandra_Bose': 253,
 'Takayuki_Omi': 254,
 'Anastasia_Malhotra': 255,
 'John_Walter_Graham_Tulloch': 256,
 'Roald_Hoffmann': 257,
 'Claudia_Ciesla': 258,
 'Maurice_Frydman': 259,
 'Mauritius': 260,
 'Maldives': 261,
 'Mississauga': 262,
 'Mahasweta_Devi': 263,
 'Mohammad_Ishfaqul_Mazid': 264,
 'A._F._M._Ahsanuddin_Chowdhury': 265,
 'Shobha_Sen': 266,
 'Mitali_Mukherjee': 267,
 'Richard_R._Ernst': 268,
 'Joi_(band)': 269,
 'Mahanambrata_Brahmachari': 270,
 'Sanjoy': 271,
 'Theotonius_Amal_Ganguly': 272,
 'Gokulanada_Gitiswami': 273,
 'Bengali_Americans': 274,
 'Norman_Borlaug': 275,
 'Shamsuddin_Yusuf_Shah': 276,
 'Abdur_Rahman_Biswas': 277,
 'Ayub_Khan_(general)': 278,
 'Sudhansu_Datta_Majumdar': 279,
 'Ghiyasuddin_Azam_Shah': 280,
 'Jehangir_Kabir': 281,
 'Shahadat_Hussain': 282,
 'Abul_Kashem_Khan': 283,
 'Ferdous_Ahmed': 284,
 'Meaghan_Rath': 285,
 'François-Marie_Le_Marchand_de_Lignery': 286,
 'Edward_Boscawen': 287,
 'Joe_Hogsett': 288,
 'Andorra': 289,
 'Mayur_Madhvani': 290,
 'Wilfred_de_Souza': 291,
 'Idi_Amin': 292,
 'Jitendra_Patel': 293,
 'Stephen_Baldwin': 294,
 'Harinder_Malhi': 295,
 'Ramesh_Sangha': 296,
 'Lola_Maja': 297,
 'Bruna_Abdullah': 298,
 'fr/Laurastar': 299,
 'Corneille_(singer)': 300,
 'Arbaaz_Khan_(actor)': 301,
 'Edward_Lugard': 302,
 'Eucratides_I': 303,
 'George_Warren_(East_India_Company_officer)': 304,
 'James_Willcocks': 305,
 'Donald_Macintyre_(Indian_Army_officer)': 306,
 'Sir_George_Pollock,_1st_Baronet': 307,
 'Syed_Ibrahim_Mallick_Baya': 308,
 'Robert_Christopher_Tytler': 309,
 'Ghiyasuddin_Jalal_Shah': 310,
 'James_Williams_Adams': 311,
 'Arthur_Power_Palmer': 312,
 'Stuckism': 313,
 'fr/Laboratoire_français_du_fractionnement_et_des_biotechnologies': 314,
 'Trivendra_Singh_Rawat': 315,
 'Vijay_Rupani': 316,
 'Raman_Singh': 317,
 'Kalyan_Singh': 318,
 'Tatung_Jamoh': 319,
 'Etela_Rajender': 320,
 'Keith_Vaz': 321,
 'Shapurji_Saklatvala': 322,
 'Amrit_Maghera': 323,
 'Siobhan_Benita': 324,
 'Bindya_Solanki': 325,
 'Angela_Jonsson': 326,
 'Ibrahim_Babangida': 327,
 'Ameenah_Gurib': 328,
 'R._Kumaraguru': 329,
 'Rajesh_Chudasama': 330,
 'Mukul_Sangma': 331,
 'Sumitra_Mahajan': 332,
 'A._T._Patil': 333,
 'Sonia_Gandhi': 334,
 'Ayesha_Quraishi': 335,
 'Tara_Singh_(Mumbai_politician)': 336,
 'Zambia': 337,
 'Arpita_Ghosh': 338,
 'Narinder_Nath_Vohra': 339,
 'Subhash_Patel': 340,
 'Tapas_Mandal': 341,
 'Surekha_Kadam': 342,
 'Pranab_Mukherjee': 343,
 'O._Rajagopal': 344,
 'Prameela_Sasidharan': 345,
 'Kamlesh_Paswan': 346,
 'Rakesh_Kumar_Verma': 347,
 'Apu_Nahasapeemapetilon': 348,
 'Kulwant_Singh_(politician)': 349,
 'Roscoe_Miller': 350,
 'Kartar_Singh': 351,
 'Abhishek_Singh': 352,
 'A._Visalakshi': 353,
 'Kadakampally_Surendran': 354,
 'Otto_Stark': 355,
 'Gurpreet_Singh_(artist)': 356,
 'Sawika_Chaiyadech': 357,
 'Kalpana_Iyer': 358,
 'Sachiin_J._Joshi': 359,
 'Arjun_Naidu': 360,
 'Sanjana_Singh': 361,
 'K._Srinivasan': 362,
 'Farah_Pandith': 363,
 'Punam_Devi': 364,
 'Ridhima_Tiwari': 365,
 'William_Henry_Clark': 366,
 'Vishaka_Guidelines': 367,
 'Dhana_Nanda': 368,
 'Inaamulhaq': 369,
 'T._L._Maharajan': 370,
 'K._Maragatham': 371,
 'J._S._S._Malelu': 372,
 'Earline_S._Rogers': 373,
 'Ajit_Kumar_Basu': 374,
 'Sant_Prasad': 375,
 'fr/Kirane_Grover_Gupta': 376,
 'M._H._Maqsood': 377,
 'Kali_Alaudeen': 378,
 'Keith_Sequeira': 379,
 'James_L._Mitchell': 380,
 'Swati_Chaturvedi': 381,
 'Satpal_Singh_Satti': 382,
 'Kalpathy_Balakrishnan': 383,
 'Matthew_Digby_Wyatt': 384,
 'Bobby_Wilson_(basketball,_born_1951)': 385,
 'John_Vaughan_(East_India_Company_officer)': 386,
 'Saraswathi_Gora': 387,
 'Rebecca_Quick': 388,
 'A._L._Narayan': 389,
 'Ma_Anand_Sheela': 390,
 'Johnny_Ringo': 391,
 'Mysore_Vasudevachar': 392,
 'Aditya_Magal': 393,
 'Bhupinder_Singh_(cricketer,_born_1970)': 394,
 'Khadeeja_(actress)': 395,
 'Ruth_M._Gardiner': 396,
 'Mir_Sher_Muhammad_Talpur': 397,
 'Elias_Boudinot_(Cherokee)': 398,
 'Lourembam_Brojeshori_Devi': 399,
 'Rohini_Khadilkar': 400,
 'Lutchman_Sooknandan': 401,
 'Edward_Spence_(VC)': 402,
 'Ram_Vilas_Sharma': 403,
 'Shikhar_Dhawan': 404,
 'K._V._Subbanna': 405,
 'Tania_Tarannam': 406,
 'Ama_Naidoo': 407,
 'Koushik_Roy': 408,
 'George_Singh': 409,
 'Vandana_Chavan': 410,
 'J._R._Gangaramani': 411,
 'Phineas_Stevens': 412,
 'Nathan_Sprenkel': 413,
 'Amit_Kuila': 414,
 'Harish_C._Mehta': 415,
 'S._M._Sriramulu_Naidu': 416,
 'Shaktisinh_Gohil': 417,
 'S._V._Ramamurthy': 418,
 'Dubbing_Janaki': 419,
 'Bhawani_Singh': 420,
 'Laxman_Reddy': 421,
 'Azam_Khan_(politician)': 422,
 'George_Palmer_(MP_for_South_Essex)': 423,
 'Asawari_Joshi': 424,
 'Ketaki_Kushari_Dyson': 425,
 'Sushma_Shrestha': 426,
 'Rajesh_Mazumder': 427,
 'Shute_Banerjee': 428,
 'Hendy_Springer': 429,
 'Sadanand_Chavan': 430,
 'Fida_Hussein': 431,
 'Amit_Kumar': 432,
 'Valiya_Hamza': 433,
 'Sathwik_Rai': 434,
 'Amrapali_Dubey': 435,
 'Purnendu_Chatterjee': 436,
 'Shiba_Pada_Bhattacharjee': 437,
 'John_F._Noll': 438,
 'George_Mercer_(military_officer)': 439,
 'Artemas_Ward': 440,
 'Cory_Spangenberg': 441,
 'Esther_Victoria_Abraham': 442,
 'Sukhvinder_Tinku': 443,
 'Premlata_Katiyar': 444,
 'P._R._Natarajan': 445,
 'Aloke_Lohia': 446,
 'Renuka_Menon': 447,
 'Sreenath': 448,
 'James_Baskett': 449,
 'Manisha_Koirala': 450,
 'Jagpal': 451,
 'Hasan_Kamal': 452,
 'Antonio_Ballard': 453,
 'Abhishek_Chaurasia': 454,
 'Jayasurya': 455,
 'Madhav_Prasad_Birla': 456,
 'pl/Bishambar_Singh': 457,
 'Sonal_Parihar': 458,
 'C._L._Moore': 459,
 'Suman_Setty': 460,
 'Charul_Malik': 461,
 'Sulaiman_Khateeb': 462,
 'Thomas_Sullivan_(Medal_of_Honor,_1890)': 463,
 'R._Verman': 464,
 'Prataprao_Govindrao_Chikhalikar': 465,
 'Hugh_Palliser': 466,
 'Aashka_Goradia': 467,
 'Krishnamoorthy_Vignesh': 468,
 'Kamala_Bose': 469,
 'Manohar_Pershad': 470,
 'P._V._Rangaiah_Naidu': 471,
 'Sukhvir_Singh': 472,
 'Nafis_Fathima': 473,
 'Henry_Roe_Cloud': 474,
 'Varun_Grover_(writer)': 475,
 'Judah_Reuben': 476,
 'fr/Sujata_Bajaj': 477,
 'T_Venkattram_Reddy': 478,
 'Kiran_Rao': 479,
 'Indira_Viswanathan_Peterson': 480,
 'Union_Council_of_Ministers': 481,
 'Srikrishna_Deva_Rao': 482,
 'Sumana_Das': 483,
 'Thomas_Myddelton_(Lord_Mayor_of_London)': 484,
 'Lily_Chakraborty': 485,
 'Jahméne': 486,
 'Senthilnathan': 487,
 'Palkuriki_Somanatha': 488,
 'Fred_Williamson': 489,
 'Jerry_Bonnet': 490,
 'Remya_Nambeesan': 491,
 'Onychocrinus': 492,
 'Śākaṭāyana': 493,
 'Mahadeo_Shivankar': 494,
 'P._L._Sundaram': 495,
 'Brahm_Dutt_Dwivedi': 496,
 'M._Sundardas': 497,
 'Prayash_Singh': 498,
 'Mahinder_Tak': 499,
 'Charles_Harvey_Denby': 500,
 'Sa-id_Akhtar_Rizvi': 501,
 'Piyush_Goyal': 502,
 'Sheela_Borthakur': 503,
 'Caleb_Blood_Smith': 504,
 'de/Francis_Michaelappa': 505,
 'Bijoylakshmi_Chatterjee': 506,
 'pl/Salim-Suleiman': 507,
 'Avadhanam_Sita_Raman': 508,
 'Charles_Edward_Bruce': 509,
 'Leendert_Hasenbosch': 510,
 'Sheikh_Muhammad_Karakunnu': 511,
 'Anirvan_Ghosh': 512,
 'Lewis_Phife': 513,
 'Garima_Poddar': 514,
 'Moon_Moon_Sen': 515,
 'Nalin_Raval': 516,
 'Bratin_Sengupta': 517,
 'Stephie_D-Souza': 518,
 'B._P._Mandal': 519,
 'William_Roxburgh': 520,
 'Protap_Chunder_Mozoomdar': 521,
 'Vijay_Milton': 522,
 'Rajkumar_Kohli': 523,
 'Jai_Pal_Mittal': 524,
 'Bhagwat_Saran_Gangwar': 525,
 'Solomon_David_Sassoon_(1841–1894)': 526,
 'Kamna_Jethmalani': 527,
 'Bhubanmohan_Baruah': 528,
 'Saraswati_Saha': 529,
 'de/Rang_Avadhoot': 530,
 'Mary_Roy': 531,
 'Abul_Kalam_Azad_(politican)': 532,
 'Ajit_Merchant': 533,
 'James_Ewing_(Pennsylvania)': 534,
 'Charles_B._Brownson': 535,
 'Pandit_Madhukant_Jha_Madhukar': 536,
 'Suza_Kumar': 537,
 'Tosh_Masson': 538,
 'Dula_Bhaya_Kag': 539,
 'Shanthanu_Bhagyaraj': 540,
 'Parvin_Dabas': 541,
 'D._C._Srikantappa': 542,
 'G._Muniratnam': 543,
 'Royappan_Antony_Muthu': 544,
 'Shanta_Gokhale': 545,
 'Joshua_Smith_(English_politician)': 546,
 'John_Mathews_(Augusta_County)': 547,
 'Anayampatti_S._Ganesan': 548,
 'Tinu_Suresh_Desai': 549,
 'St_John_Philby': 550,
 'Nanabhau_Patole': 551,
 'Hakim_Imtiyaz_Hussain': 552,
 'Anwar_Ali_(actor)': 553,
 'Chuni_Lal': 554,
 'Frank_Niehaus': 555,
 'Cliff_McWatt': 556,
 'Geeta_Dharmarajan': 557,
 'Danthala_Venkata_Meher_Baba': 558,
 'I._V._Sasi': 559,
 'P._J._Sarma': 560,
 'Veena_Ramgoolam': 561,
 'Ramachandra_Vitthala_Rao': 562,
 'M._R._Gopakumar': 563,
 'Vipin_Handa': 564,
 'Arthur_Hayes-Sadler': 565,
 'Paramardi': 566,
 'de/Mariadas_Kagithapu': 567,
 'Edward_VII': 568,
 'Kamala_Sohonie': 569,
 'Rusty_Meacham': 570,
 'Qaim_Khan': 571,
 'Dev_Benegal': 572,
 'Panchanan_Barma': 573,
 'Manjit_Singh_(armament_scientist)': 574,
 'Saurabh_Bandekar': 575,
 'Dodda_Krishnaraja_I': 576,
 'Pooja_Thakur': 577,
 'Thalaivasal_Vijay': 578,
 'Lekha_K.C.': 579,
 'Akhtar_Hussain_(musician)': 580,
 'Prasad_Kumar_Harichandan': 581,
 'Dalton_Holder': 582,
 'Ramachandra_Borcar': 583,
 'Samrat_Singha': 584,
 'Rakesh_Deewana': 585,
 'Cherrish_Pryor': 586,
 '1976_American_Airlines_Tennis_Games': 587,
 'Deepal_Shaw': 588,
 'TK_Ramanuja_Kavirajar': 589,
 'Vaijnath_Patil': 590,
 'Larry_Fritz': 591,
 'Thrity_Umrigar': 592,
 'George_Barrow_(Indian_Army_officer)': 593,
 'K._S._R._Murthy': 594,
 'Brahmanand_Mandal': 595,
 'Sreeja_Ravi': 596,
 'Randhir_Singh_(cricketer)': 597,
 'Deepa_Chari': 598,
 'Jamshed_Vazifdar': 599,
 'Chris_Doleman': 600,
 'Ishita_Raj_Sharma': 601,
 'Sydney_Smith_(cricketer,_born_1881)': 602,
 'Dignāga': 603,
 'Theresa_Lazar_Springmann': 604,
 'Vishnu_Tiwari': 605,
 'Steve_Ells': 606,
 'Stanley_Rozario': 607,
 'Tom_Kelly_(musician)': 608,
 'Arpita_Pal': 609,
 'Black_Beaver': 610,
 'Kiran_Juneja': 611,
 'Sobha_Singh_(painter)': 612,
 'Sangeetha_Katti': 613,
 'Shresth_Kumar': 614,
 'Syed_Thajudeen': 615,
 'Narharidas_Barahath': 616,
 'Bhima_of_Mahikavati': 617,
 'Vinod_Johri': 618,
 'Kevin_Burns_(soccer)': 619,
 'Amitava_Bose': 620,
 'S._P._Y._Reddy': 621,
 'Omar_Badsha': 622,
 'Mani_Nagappa': 623,
 'Munawwar_Hasan': 624,
 'Rajesh_Murugesan': 625,
 'Kamlesh_Kumari': 626,
 'Chemban_Vinod_Jose': 627,
 'James_Lewis_(Indiana_politician)': 628,
 'Harold_Scheub': 629,
 'Basanta_Kumar_Das': 630,
 'de/Paul_Alappatt': 631,
 'H._S._Sekhon': 632,
 'Ram_Puniyani': 633,
 'Nambiar_(Ambalavasi/Mizhavu)': 634,
 'Thulasidas': 635,
 'N._Ramaswami_Ayyar': 636,
 'Daulat_Khan_Lodi': 637,
 'Jagathy_N._K._Achary': 638,
 'Afzal_Ali': 639,
 'Maa_Naa_Chowdappa': 640,
 'George_Johnstone_(1764–1813)': 641,
 'Syed_Rahim_Nabi': 642,
 'Doris_Francis': 643,
 'Pratik_Sinha': 644,
 'Sayeed_Quadri': 645,
 'Ravi_Inder_Singh': 646,
 'Zeenat_Bi': 647,
 'Jonnavittula_Ramalingeswara_Rao': 648,
 'Tanveer_Akhtar': 649,
 'Sambhu_Sing_Mallah': 650,
 'J._V._Raghavulu': 651,
 'Shelley_Conn': 652,
 'The_Federation_of_Indian_Communities_of_Queensland_Inc': 653,
 'Aswin_Crist': 654,
 'J._Shantha': 655,
 'David_Joseph_Ezra': 656,
 'Chitlem_Narsi_Reddy': 657,
 'Mrigya': 658,
 'Neil_Armstrong': 659,
 'Parbati_Barua': 660,
 'Alexander_Muddiman': 661,
 'Muzaffar_Hassan': 662,
 'Manuel_C._Rodrigues': 663,
 'Y._K._Sohoni': 664,
 'Meghana_Jakkampudi': 665,
 'Kevin_Dudley': 666,
 'K._Raghavan': 667,
 'Saroj_Dubey': 668,
 'Bhupinder_Nath_Kirpal': 669,
 'Ganesh_Venkatraman': 670,
 'Srini_Santhanam': 671,
 'Pawan_Kumar_(cricketer,_born_1970)': 672,
 'Suriya': 673,
 'Dizzy_Sal': 674,
 'Graharipu': 675,
 'William_Chichele_Plowden': 676,
 'es/Virendra_Pal_Singh': 677,
 'William_Bowen_(British_Army_officer)': 678,
 'Thomas_Marshall_(U.S._politician)': 679,
 'Jaswant_Singh_Neki': 680,
 'Prakash_Javadekar': 681,
 'Maheboob_Khan': 682,
 'David_Wallace_(Indiana_politician)': 683,
 'Gopinath_Mohanty': 684,
 'Tommy_Kron': 685,
 'Rajani_Duganna': 686,
 'L._E._Dawson': 687,
 'Pusapati_Vijayarama_Gajapati_Raju': 688,
 'Suresh_Narayan_Lad': 689,
 'Purnima_Banerjee': 690,
 'Ajit_Sharma': 691,
 'Dick_Lehman': 692,
 'Siddartha_Chatterjee': 693,
 'Rafi_Ahmed': 694,
 'Venu_V._Desom': 695,
 'Narayanacharya': 696,
 'Cheri_Viswanath': 697,
 'Francis_Capel_Harrison': 698,
 'Raghuvannan': 699,
 'M._Vijayasarathy': 700,
 'Anasuya_Sarabhai': 701,
 'John_Walsh_(scientist)': 702,
 'Manik_Varma': 703,
 'Rakesh_Bedi': 704,
 'de/Liste_der_indischen_Botschafter_in_Oman': 705,
 'Rajasekhar_(actor)': 706,
 'Rati_Agnihotri': 707,
 'Yogesh_Kumar_Chawla': 708,
 'John_Sadananda': 709,
 'Cyril_Bernard_Papali': 710,
 'Ghulam_Muhammad_Ghouse_Khan': 711,
 'Queen_Hogu': 712,
 'S_D_Narang': 713,
 'Sanjeev_Kumar': 714,
 'G._S._Gai': 715,
 'Niranjan_Behera': 716,
 'Bir_Bhan_Bhatia': 717,
 'Muhammad_Maharvi': 718,
 'Roshan_Taqui': 719,
 'Atul_Agnihotri': 720,
 'de/Dominic_Lumon': 721,
 'Jaspal_Singh_(singer)': 722,
 'Sharanjit_Leyl': 723,
 'Vishwas_Satarkar': 724,
 'Harry_C._Stutz': 725,
 'Gopalakrishna_Adiga': 726,
 'M._S._Gowd': 727,
 'Vivan_Bhatena': 728,
 'Rajat_Tokas': 729,
 'Hiten_Tejwani': 730,
 'Malcolm_Wollen': 731,
 'Daljit_Singh_(cricketer,_born_1940s)': 732,
 'Neha_Bhasin': 733,
 'R._D._Burman': 734,
 'William_P._Bryant': 735,
 'Tashbih_Sayyed': 736,
 'Avinash_K._Dorle': 737,
 'Sheila_Sri_Prakash': 738,
 'P._V._Rajamannar': 739,
 'Meghanathan': 740,
 'B._Sathianathan': 741,
 'Eric_J._Lott': 742,
 'Tarakant_Jha': 743,
 'Dada_Mukerjee': 744,
 'Hitesh_Sharma': 745,
 'Lily_Chakravarty': 746,
 'Toramana': 747,
 'Jinasena': 748,
 'Arun_Vijay': 749,
 'Rajinder_Beri': 750,
 'Ram_Karan_Sharma': 751,
 'Jayachandra': 752,
 'Andrew_J._Harlan': 753,
 'P._C._Bhattacharya': 754,
 'Vinod_Kinariwala': 755,
 'Brenda_Coultas': 756,
 'Milo_Burcham': 757,
 'Mrinal_Gore': 758,
 'Varun_Toorkey': 759,
 'George_Broadfoot': 760,
 'Mavelikkara_Ponnamma': 761,
 'Kishu_Tirathrai': 762,
 'Meher_Baba': 763,
 'Sunil_Vaidyanathan': 764,
 'Niccolao_Manucci': 765,
 'E._Ponnuswamy': 766,
 'Reza_Shariffi': 767,
 'de/Selvister_Ponnumuthan': 768,
 'Nazneen_Ghaani': 769,
 'Thomas_Renny-Tailyour': 770,
 'Akeel_Bilgrami': 771,
 'S._T._Desai': 772,
 'Polygar': 773,
 'Bhaktivinoda_Thakur': 774,
 'Neeraj_Kumar_(police_officer)': 775,
 'Sagari_Chhabra': 776,
 'Radha_Bharathi': 777,
 'Stephen_Girard_Whipple': 778,
 'B._S._Nagesh': 779,
 'Ramya_Raj': 780,
 'Kartika_Rane': 781,
 'George_K._Denton': 782,
 'Sundar_C.': 783,
 'Harak_Singh_Rawat': 784,
 'Sankinani_Vishnuvardhan': 785,
 'T._N._Sivakumar': 786,
 'Yuvika_Chaudhary': 787,
 'KG_Gokhale': 788,
 'Vidyadhar_Shastri': 789,
 'Harshvardhan_Jadhav': 790,
 'Shukla_Bose': 791,
 'Khriehu_Liezietsu': 792,
 'Sukhen_Dey_(footballer)': 793,
 'Sharan_(actor)': 794,
 'Sriranjani_(actress)': 795,
 'Nazim_Hussain': 796,
 'Sandeep_Tyagi_(entrepreneur)': 797,
 'Spruha_Joshi': 798,
 'Jeahangir_Ghandy': 799,
 'Afshin_Rattansi': 800,
 'Chandra_Sekhar_Sahu': 801,
 'Suresh_Ganpati_Halvankar': 802,
 'Jagjit_Singh_(rower)': 803,
 'Sugandha_Garg': 804,
 'N._Ganapathy_(Vanur_MLA)': 805,
 'Vikramjit_Singh_Rooprai': 806,
 'Sardul_Singh_Guraya': 807,
 'Florence_Henderson': 808,
 'Ratikant_Satpathy': 809,
 'Ram_Prasad_Sharma': 810,
 'Vasu_Malali': 811,
 'Shiv_Kumar_Saroj': 812,
 'Vandana_Gupte': 813,
 'Ali_Raja': 814,
 'Hemant_Shesh': 815,
 'Samved': 816,
 'Radhika_Pandit': 817,
 'Abhigyan_Prakash': 818,
 'Joseph_Marion_Hernández': 819,
 'Anglican_Bishop_of_Tinnevelly': 820,

In [155]:
model.train(input_list, total_examples=model.corpus_count, epochs=model.epochs)

(51714289, 152188775)

In [156]:
model.wv[2]

array([-0.21850549,  0.1259534 , -0.8021689 ,  0.40919545,  0.4056872 ,
       -0.6611579 , -0.05686578,  0.26746476, -2.623649  , -0.13349131,
       -1.8207797 , -0.22947523, -0.76492983,  1.1107185 , -2.3482053 ,
       -1.9024616 , -0.40415564,  3.105028  ,  2.3678477 , -1.8598566 ,
       -0.2221112 , -0.03384176,  0.12977862, -1.1383966 , -0.7461685 ,
       -0.00804054, -0.71345377,  0.10168874,  1.8125207 , -0.61456287,
        0.3337036 , -1.2037461 ,  1.5041093 ,  0.13537116, -0.7376863 ,
       -1.3540462 , -2.1433988 ,  2.523526  , -2.1299686 , -0.6223424 ,
        0.07799801, -0.21013848,  0.9671696 ,  0.5666831 ,  1.5585833 ,
       -0.37672457, -0.93358725, -0.5455899 ,  0.1557219 ,  1.8045943 ],
      dtype=float32)

In [157]:
model.wv["India"]

array([-0.10569581,  1.0834347 ,  0.74693096, -1.1504408 ,  0.75614697,
       -0.59197265,  0.79291654,  0.1810275 , -0.8440791 , -0.71046007,
       -0.7760252 , -1.2201042 ,  0.48825452, -0.29506776,  0.6121299 ,
       -0.8714449 ,  0.05522219, -0.11068017,  1.3708452 , -1.4131624 ,
        1.1765594 , -1.0283557 , -0.10746258, -1.65452   , -0.34303325,
       -1.180112  ,  0.22895268, -0.6595798 ,  0.6380148 , -0.18933776,
       -0.7289244 ,  0.72009355, -0.96781546, -0.8935421 ,  0.7271041 ,
        0.7458727 , -0.4683977 ,  1.4260764 ,  0.61215264, -0.4862232 ,
        1.5013134 , -0.72715575,  0.53737205,  0.8789856 ,  0.13017632,
       -0.6082924 , -0.91249806,  0.42444438, -0.21948165,  0.72470254],
      dtype=float32)

In [172]:
model.wv.similarity(w1='Annie_McKitrick', w2='Marie_Renaud')

0.99565583

In [170]:
model.wv.most_similar('Italy')

[('Francisco_Xavier_Vilá_y_Mateu', 0.5921461582183838),
 ('Vietnam', 0.5838242769241333),
 ('Alyssa_Cruz_Aguero', 0.5828779339790344),
 ('Sugao_Kambe', 0.5781823396682739),
 ('Amporn_Hyapha', 0.5768706202507019),
 ('Alex_Lee_(soccer)', 0.5757241249084473),
 ('Surachai_Jirasirichote', 0.5687251687049866),
 ('John_Weisenberger', 0.5678663849830627),
 ('Mohammed_Benchicou', 0.5678341388702393),
 ('Nate_Lee_(footballer)', 0.5639929175376892)]

In [166]:
model.wv.most_similar("India")

[('Dhihei_of_the_Maldives', 0.9582422375679016),
 ('Marie_St._Fleur', 0.9556472897529602),
 ('Ahmed_Husam', 0.9553127288818359),
 ('Ana_Irene_Delgado', 0.9515964388847351),
 ('Harry_Charles_Purvis_Bell', 0.9502136707305908),
 ('nl/Vlad_Kroetskich', 0.9486594796180725),
 ('pl/Harry_Bonavia', 0.9461080431938171),
 ('Tony_Bishop', 0.9457859992980957),
 ('es/Carlos_Gallardo', 0.945649266242981),
 ('Giordano_Macellari', 0.9450517296791077)]

In [173]:
model.wv.most_similar('Netflix')

[('Quintiq', 0.9802594184875488),
 ('Eco-Bat_Technologies', 0.9733114838600159),
 ('de/Manor-Gruppe', 0.9727519750595093),
 ('fr/Laboratoire_français_du_fractionnement_et_des_biotechnologies',
  0.9716089963912964),
 ('Ringier', 0.9691129326820374),
 ('Paiste', 0.9678789973258972),
 ('de/Marco_Lippuner', 0.9674554467201233),
 ('Transfesa', 0.9670105576515198),
 ('de/Otto’s', 0.9670065641403198),
 ('fr/Red_Road_(bande_dessinée)', 0.9668533802032471)]

In [174]:
model.wv.most_similar('Sony')

[('Colorado', 0.9259262681007385),
 ('London', 0.9095099568367004),
 ('Viacom', 0.9072648286819458),
 ('Massachusetts', 0.9028286337852478),
 ('California', 0.9009326100349426),
 ('Japan_Trustee_Services_Bank', 0.8882670402526855),
 ('National_Amusements', 0.8795546293258667),
 ('NBCUniversal', 0.8742868304252625),
 ('The_Master_Trust_Bank_of_Japan', 0.861910879611969),
 ('O3b_Networks', 0.8607778549194336)]

In [175]:
model.save("./w2vpandas_ner.model")

In [176]:
model1 = gensim.models.Word2Vec.load("./w2vpandas_ner.model")

In [177]:
model1.wv.most_similar('Sony')

[('Colorado', 0.9259262681007385),
 ('London', 0.9095099568367004),
 ('Viacom', 0.9072648286819458),
 ('Massachusetts', 0.9028286337852478),
 ('California', 0.9009326100349426),
 ('Japan_Trustee_Services_Bank', 0.8882670402526855),
 ('National_Amusements', 0.8795546293258667),
 ('NBCUniversal', 0.8742868304252625),
 ('The_Master_Trust_Bank_of_Japan', 0.861910879611969),
 ('O3b_Networks', 0.8607778549194336)]

In [178]:
print(gensim.__version__)

4.2.0

## References Used
1) https://datacarpentry.org/python-socialsci/11-joins/index.html#:~:text=The%20concat()%20function%20can,of%20one%20to%20the%20other.&text=The%20merge()%20function%20is%20equivalent%20to%20the%20SQL%20JOIN,inner'%20joins%20are%20all%20possible.